/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.saleColumn .fl-rich-text > p{
	display: none!important;
}
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"] {
  display: none !important;
}
.top-bar .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-slide-1 .fl-slide-title{
	color: #fff !important;
}
.fl-content-slider .fl-slide .fl-slide-foreground{
	    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
	    margin: 30px auto;
}
.top-bar .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.top-bar .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
.top-bar > .fl-row-content-wrap {
  background-color: #485481;
  min-height: 35px;
}
.top-bar .fl-row-content {
  max-width: 1250px;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.top-bar > .fl-row-content-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
}
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"] {
  display: none !important;
}
.cache-issue .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.cache-issue .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.cache-issue .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
.cache-issue > .fl-row-content-wrap {
  background-color: #ffffff;
}
.cache-issue .fl-row-content {
  max-width: 1200px;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"] {
  display: none !important;
}
.fl-node-5ddd186e467a6 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-node-5ddd186e467a6 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.fl-node-5ddd186e467a6 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}

.fl-node-5ddd186e467a6 > .fl-row-content-wrap {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fl-node-5dc59d253ccd0 {
  width: 30%;
}

.fl-node-5dc59d253ccd1 {
  width: 70%;
}

.fl-node-5dc59d8f2e085 {
  width: 8%;
}

.fl-node-5dc59d64edb54 {
  width: 20.02%;
}

.fl-node-5dc59d507f401 {
  width: 63.55%;
}

.fl-node-5dc59d8b4c86e {
  width: 8.43%;
}

.fl-node-5dc59d8b4c86e > .fl-col-content {
  margin-top: 20px;
}
.fl-node-5ddd186e4eed1 {
  width: 100%;
}

@media (max-width: 768px) {
  .fl-module-icon {
    text-align: center;
  }
}
.fl-node-5dc59d253ccd2 .fl-module-content .fl-icon i,
.fl-node-5dc59d253ccd2 .fl-module-content .fl-icon i:before {
  color: #ffffff;
}
.fl-node-5dc59d253ccd2 .fl-module-content .fl-icon i,
.fl-node-5dc59d253ccd2 .fl-module-content .fl-icon i:before {
  font-size: 25px;
}
.fl-node-5dc59d253ccd2 .fl-module-content .fl-icon-text {
  height: 43.75px;
}
.fl-node-5dc59d253ccd2.fl-module-icon {
  text-align: right;
}
.fl-node-5dc59d253ccd2 .fl-icon-text,
.fl-node-5dc59d253ccd2 .fl-icon-text-link {
  color: #ffffff;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .fl-node-5dc59d253ccd2.fl-module-icon {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .fl-node-5dc59d253ccd2.fl-module-icon {
    text-align: center;
  }
  .fl-node-5dc59d253ccd2 .fl-icon-text,
  .fl-node-5dc59d253ccd2 .fl-icon-text-link {
    font-size: 14px;
    text-align: center;
  }
}
.fl-node-5dc59d253ccd2 > .fl-module-content {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .fl-node-5dc59d253ccd2.fl-module > .fl-module-content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.fl-node-5dc59d451d521 .fl-module-content .fl-icon i,
.fl-node-5dc59d451d521 .fl-module-content .fl-icon i:before {
  font-size: 30px;
}
.fl-node-5dc59d451d521 .fl-module-content .fl-icon-text {
  height: 52.5px;
}
.fl-node-5dc59d451d521.fl-module-icon {
  text-align: left;
}

@media (max-width: 768px) {
  .fl-node-5dc59d451d521.fl-module > .fl-module-content {
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.uabb-photo-content.uabb-img-grayscale img {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  filter: gray;
}
.uabb-photo-content .uabb-photo-caption {
  pointer-events: none;
}
.uabb-photo-img {
  max-height: inherit;
}
.fl-node-5dc59d64eda89 {
  width: 100%;
}
.fl-node-5dc59d64eda89 .uabb-photo-content {
}
.fl-node-5dc59d64eda89 .uabb-photo-content img {
}
.fl-node-5dc59d64eda89 .uabb-photo-caption {
}
.fl-node-5dc59d64eda89 .uabb-photo-content .uabb-photo-img {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fl-node-5dc59d64eda89 .uabb-photo-content .uabb-photo-img {
  opacity: 1;
}
.fl-node-5dc59d64eda89 .uabb-photo-content .uabb-photo-img:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .fl-node-5dc59d64eda89 .uabb-photo-mob-align-center {
    text-align: center;
  }
}

.fl-node-5dc59d64eda89 > .fl-module-content {
  margin-top: 0px;
  margin-bottom: 15px;
}
.uabb-creative-menu ul,
.uabb-creative-menu li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
  content: "";
  display: table;
  clear: both;
}
.uabb-creative-menu .menu {
  position: relative;
  padding-left: 0;
}
.uabb-creative-menu li {
  position: relative;
}
.uabb-creative-menu a {
  display: block;
  line-height: 1;
  text-decoration: none;
}
.uabb-creative-menu .menu a {
  box-shadow: none;
}
.uabb-creative-menu a:hover {
  text-decoration: none;
}
.uabb-creative-menu .sub-menu {
  min-width: 220px;
  margin: 0;
}
.uabb-creative-menu-horizontal {
  font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
  font-size: medium;
}
.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  > a
  > span.menu-item-text {
  display: inline-block;
}
.fl-module[data-node]
  .uabb-creative-menu
  .uabb-creative-menu-expanded
  .sub-menu {
  background-color: transparent;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
  outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
  position: relative;
}
.uabb-creative-menu
  .uabb-creative-menu-accordion
  .uabb-has-submenu
  > .sub-menu {
  display: none;
}
.uabb-creative-menu .uabb-menu-toggle {
  cursor: pointer;
}
.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
  border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
  display: none;
}
.uabb-creative-menu-mobile-toggle {
  position: relative;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #333;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
  width: 100%;
  text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger
  .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label
  .uabb-creative-menu-mobile-toggle-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
  fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: block;
  z-index: 99;
}
.uabb-creative-menu .uabb-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  overflow-y: auto;
  overflow-x: hidden;
}
.uabb-creative-menu .uabb-menu-overlay > ul.menu {
  text-align: center;
  position: relative;
  top: 50%;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-fade {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-fade {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.uabb-creative-menu .uabb-overlay-slide-down {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.uabb-creative-menu .uabb-overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.uabb-creative-menu.menu-open .uabb-overlay-scale {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.uabb-creative-menu .uabb-overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.uabb-creative-menu .uabb-overlay-door > ul.menu {
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.uabb-creative-menu
  .uabb-menu-overlay
  .uabb-toggle-arrows
  .uabb-has-submenu-container
  a
  > span {
  padding-right: 0 !important;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
  position: absolute;
  display: block;
  width: 55px;
  height: 45px;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  outline: none;
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.uabb-creative-menu .uabb-off-canvas-menu .menu {
  margin-top: 40px;
}
.uabb-creative-menu.off-canvas .uabb-clear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-320px, 0px, 0px);
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(320px, 0px, 0px);
}
.uabb-creative-menu .uabb-off-canvas-menu {
  z-index: 99999;
  width: 300px;
  height: 100%;
  background: rgb(55, 58, 71);
  padding: 60px 20px;
  -webkit-transition: all 0.8s;
  transition: transform 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  perspective: 1000;
  backface-visibility: hidden;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.8s ease;
}
.uabb-creative-menu .menu > li > a,
.uabb-creative-menu .menu > li > .uabb-has-submenu-container a {
  outline: 0;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    right: 20px;
    top: 20px;
  }
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu {
  text-align: right;
}
.uabb-creative-menu-expanded ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
  text-indent: 20px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
  text-indent: 30px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li a,
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-expanded
  ul.sub-menu
  li
  li
  li
  .uabb-has-submenu-container
  a {
  text-indent: 40px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li a,
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-expanded
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a {
  text-indent: 50px;
  direction: rtl;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > a
  span.uabb-menu-toggle,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  a
  span.uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  .uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-menu-toggle:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  z-index: 1;
  font-size: inherit;
  line-height: 0;
  font-weight: 900;
}
.fl-node-5dc59dddb79c9 .menu .uabb-has-submenu .sub-menu {
  display: none;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu li:first-child {
  border-top: none;
}
@media only screen and (max-width: 768px) {
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu {
    margin-top: 20px;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-off-canvas-menu
    .uabb-menu-close-btn,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-menu-overlay
    .uabb-menu-close-btn {
    display: block;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (min-width: 769px) {
  .fl-node-5dc59dddb79c9 .menu > li {
    display: inline-block;
  }
  .fl-node-5dc59dddb79c9 .menu li {
    border-left: none;
    border-top: none;
  }
  .fl-node-5dc59dddb79c9 .menu li li {
    border-top: none;
    border-left: none;
  }
  .fl-node-5dc59dddb79c9 .menu .uabb-has-submenu .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 16;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: all 300ms ease-in;
  }
  .fl-node-5dc59dddb79c9 .uabb-has-submenu .uabb-has-submenu .sub-menu {
    top: 0;
    left: 100%;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-has-submenu:hover
    > .sub-menu,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-has-submenu:focus
    > .sub-menu {
    display: block;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-has-submenu:hover
    > .sub-menu,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .uabb-has-submenu:focus
    > .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .fl-node-5dc59dddb79c9
    .menu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 100%;
    left: inherit;
    right: 0;
  }
  .fl-node-5dc59dddb79c9
    .menu
    .uabb-has-submenu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 0;
    left: inherit;
    right: 100%;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle {
    display: none;
  }
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.uabb-menu-default .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.uabb-menu-default
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 3px;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
}
.fl-node-5dc59dddb79c9
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a
  span.menu-item-text {
  width: 100%;
  color: #323232;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-menu-toggle:before {
  color: #323232;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  li:hover
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  li:hover
  .uabb-menu-toggle:before {
  color: #b70300;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li > a:hover,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li > a:focus,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li.current-menu-item > a,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li.current-menu-item > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a {
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li.current-menu-item > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a {
  background-color: #f5f5f5;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li
  > a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.focus
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i {
  color: #b70300;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i {
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before {
  color: #b70300;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #edecec;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item)
  .uabb-creative-menu
  .sub-menu {
  min-width: 220px;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.uabb-creative-menu
  > a
  > span,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a
  > span {
  color: #b70300;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e3e2e3;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li:last-child {
  border-bottom: none;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li:first-child,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li
  li:first-child {
  border-top: none;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li.uabb-active
  > .sub-menu
  > li:first-child,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu.uabb-creative-menu-expanded
  .sub-menu
  > li
  > .sub-menu
  > li:first-child {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e3e2e3;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu {
  -webkit-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 50px 1px rgba(0, 0, 0, 0.3);
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li:last-child > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li:last-child
  > .uabb-has-submenu-container
  > a {
  border: 0;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:focus
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:focus
  span.menu-item-text {
  color: #;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a:hover,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a:focus,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:hover,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:focus {
  background-color: #f5f5f5;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-arrows
  .sub-menu
  li
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-toggle-none
  .sub-menu
  li
  .uabb-menu-toggle:before {
  color: #b70300;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle {
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle-container,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu-mobile-toggle-container
  > .uabb-creative-menu-mobile-toggle.text {
  text-align: center;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle rect {
  fill: #323232;
}
@media only screen and (max-width: 768px) {
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-menu-overlay .menu {
    margin-top: 40px;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 992px) {
  .fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle-container,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu-mobile-toggle-container
    > .uabb-creative-menu-mobile-toggle.text {
    text-align: ;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.off-canvas .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.off-canvas
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.uabb-menu-default .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.full-screen
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .sub-menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-off-canvas-menu {
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle-container,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu-mobile-toggle-container
    > .uabb-creative-menu-mobile-toggle.text {
    text-align: ;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.off-canvas .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.off-canvas
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.uabb-menu-default .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.full-screen
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .sub-menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-off-canvas-menu {
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu {
    text-align: center;
  }
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > a
    span.uabb-menu-toggle,
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    float: right;
  }
  .fl-node-5dc59dddb79c9 .uabb-creative-menu .menu .uabb-menu-toggle {
    float: right;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-menu-overlay {
  background-color: rgba(183, 3, 0, 0.84);
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 3px;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu {
  text-align: center;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu > li,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu > li {
  clear: both;
  display: block;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu {
  width: 100%;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  > li
  > a
  span.uabb-menu-toggle,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  > li
  > .uabb-has-submenu-container
  a
  span.menu-item-text
  > span.uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu.uabb-toggle-arrows
  .uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a
  span.menu-item-text {
  width: 100%;
  color: #ffffff;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu > li > a:hover,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu > li > a:focus,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:hover,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:focus {
  background-color: transparent;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu li {
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu.full-screen .sub-menu li:last-child {
  border-bottom: none;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:focus
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:hover
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li
  > a:focus
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:hover
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li
  > a:focus
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:hover
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:focus
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:hover
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  li
  .uabb-has-submenu-container
  a:focus
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i {
  color: #ffffff;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  i {
  color: #ffffff;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-menu-overlay
  .uabb-menu-close-btn {
  width: 30px;
  height: 30px;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-fade,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.menu-open .uabb-overlay-fade,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-corner,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.menu-open .uabb-overlay-corner,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-slide-down,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.menu-open .uabb-overlay-slide-down,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-scale,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.menu-open .uabb-overlay-scale,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-door,
.fl-node-5dc59dddb79c9 .uabb-creative-menu.menu-open .uabb-overlay-door,
.fl-node-5dc59dddb79c9 .uabb-creative-menu .uabb-overlay-door > ul,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-overlay-door
  .uabb-menu-close-btn {
  transition-duration: 0.5s;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-menu-overlay
  .uabb-menu-close-btn:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-menu-overlay
  .uabb-menu-close-btn:after {
  height: 30px;
  background-color: #ffffff;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-none
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .sub-menu
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-none
  .sub-menu
  .uabb-menu-toggle:before {
  color: #ffffff;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:hover
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:focus
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:hover
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  li:focus
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before {
  color: #ffffff;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:hover
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:focus
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:hover
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  li:focus
  .uabb-has-submenu-container
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu.full-screen
  .uabb-toggle-plus
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .fl-node-5dc59dddb79c9 .uabb-creative-menu.uabb-menu-default {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .fl-node-5dc59dddb79c9
    .uabb-creative-menu.full-screen
    .uabb-menu-overlay
    ul.menu {
    width: 80%;
  }
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu .sub-menu > li > a,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a {
  font-size: 12px;
  text-transform: uppercase;
}
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-creative-menu-expanded.menu
  > .uabb-has-submenu
  > .sub-menu,
.fl-node-5dc59dddb79c9
  .uabb-creative-menu
  .uabb-creative-menu-accordion.menu
  > .uabb-has-submenu
  > .sub-menu {
  border-style: solid;
  border-width: 0;
  background-clip: padding-box;
  border-color: #000000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.fl-node-5dc59dddb79c9 .uabb-creative-menu-mobile-toggle {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.fl-node-5dc59d451d51f .fl-module-content .fl-icon i,
.fl-node-5dc59d451d51f .fl-module-content .fl-icon i:before {
  font-size: 24px;
}
.fl-node-5dc59d451d51f .fl-module-content .fl-icon-text {
  height: 42px;
}
.fl-node-5dc59d451d51f.fl-module-icon {
  text-align: right;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
.fl-node-5dc59d451d51f > .fl-module-content {
  margin-top: 0px;
  margin-left: 0px;
}
@media (max-width: 768px) {
  .fl-node-5dc59d451d51f.fl-module > .fl-module-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
.top-bar .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.top-bar .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.top-bar #uabb-top-slit2,
.top-bar #uabb-top-slit3 {
  fill: #afafaf;
}
.top-bar #uabb-bottom-slit2,
.top-bar #uabb-bottom-slit3 {
  fill: #afafaf;
}
.top-bar #uabb-top-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-bottom-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-top-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-bottom-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-top-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-bottom-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-top-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar #uabb-bottom-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.top-bar .uabb-top-row-separator {
  z-index: 9;
}
.top-bar .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .top-bar .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .top-bar .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .top-bar .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .top-bar .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.cache-issue .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.cache-issue .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.cache-issue #uabb-top-slit2,
.cache-issue #uabb-top-slit3 {
  fill: #afafaf;
}
.cache-issue #uabb-bottom-slit2,
.cache-issue #uabb-bottom-slit3 {
  fill: #afafaf;
}
.cache-issue #uabb-top-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-bottom-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-top-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-bottom-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-top-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-bottom-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-top-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue #uabb-bottom-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.cache-issue .uabb-top-row-separator {
  z-index: 9;
}
.cache-issue .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .cache-issue .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .cache-issue .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cache-issue .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .cache-issue .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-node-5ddd186e467a6 .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5ddd186e467a6 .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5ddd186e467a6 #uabb-top-slit2,
.fl-node-5ddd186e467a6 #uabb-top-slit3 {
  fill: #afafaf;
}
.fl-node-5ddd186e467a6 #uabb-bottom-slit2,
.fl-node-5ddd186e467a6 #uabb-bottom-slit3 {
  fill: #afafaf;
}
.fl-node-5ddd186e467a6 #uabb-top-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-bottom-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-top-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-bottom-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-top-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-bottom-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-top-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 #uabb-bottom-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5ddd186e467a6 .uabb-top-row-separator {
  z-index: 9;
}
.fl-node-5ddd186e467a6 .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .fl-node-5ddd186e467a6 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5ddd186e467a6 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .fl-node-5ddd186e467a6 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5ddd186e467a6 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
  margin: 0;
  clear: both;
}
.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
  text-decoration: none;
}
.uabb-row-separator {
  position: absolute;
  width: 100%;
  left: 0;
}
.uabb-top-row-separator {
  top: 0;
  bottom: auto;
}
.uabb-bottom-row-separator {
  top: auto;
  bottom: 0;
}
.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
  display: none !important;
}
@media (max-width: 992px) {
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: block !important;
  }
}
.fl-responsive-preview-content .fl-builder-content-editing {
  overflow-x: hidden;
  overflow-y: visible;
}
.uabb-row-separator svg {
  width: 100%;
}
.uabb-top-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: -1px;
  bottom: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  bottom: -1px;
  top: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
  -moz-transform: scale(1) scaleY(-1) translateX(-50%);
  -ms-transform: scale(1) scaleY(-1) translateX(-50%);
  -o-transform: scale(1) scaleY(-1) translateX(-50%);
  transform: scale(1) scaleY(-1) translateX(-50%);
}
.uabb-top-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-curve-up-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-top-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-top-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-multi-triangle svg {
  bottom: -2px;
}
.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
  left: 0;
  width: 50%;
  background: inherit inherit/inherit inherit inherit inherit;
  content: "";
  position: absolute;
}
.uabb-button-wrap a,
.uabb-button-wrap a:visited {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
}
.fl-builder-content .uabb-button:hover {
  text-decoration: none;
}
.fl-builder-content .uabb-button-width-full .uabb-button {
  display: block;
  text-align: center;
}
.uabb-button-width-custom .uabb-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.fl-builder-content .uabb-button-left {
  text-align: left;
}
.fl-builder-content .uabb-button-center {
  text-align: center;
}
.fl-builder-content .uabb-button-right {
  text-align: right;
}
.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  width: 1em;
}
.uabb-button .uabb-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
  margin-left: 0;
  margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
  margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
  vertical-align: middle;
}
.uabb-icon-wrap {
  display: inline-block;
}
.uabb-icon a {
  text-decoration: none;
}
.uabb-icon i {
  display: block;
}
.uabb-icon i:before {
  border: none !important;
  background: none !important;
}
.uabb-icon-text {
  display: table-cell;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
}
.uabb-icon-text *:last-child {
  margin: 0 !important;
  padding: 0 !important;
}
.uabb-icon-text a {
  text-decoration: none;
}
.uabb-photo {
  line-height: 0;
  position: relative;
  z-index: 2;
}
.uabb-photo-align-left {
  text-align: left;
}
.uabb-photo-align-center {
  text-align: center;
}
.uabb-photo-align-right {
  text-align: right;
}
.uabb-photo-content {
  border-radius: 0;
  display: inline-block;
  line-height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.uabb-photo-content img {
  border-radius: inherit;
  display: inline;
  height: auto;
  max-width: 100%;
  width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-photo-caption {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uabb-photo-caption-below {
  padding-bottom: 20px;
  padding-top: 10px;
}
.uabb-photo-caption-hover {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  filter: alpha(opacity = 0);
  padding: 10px 15px;
  position: absolute;
  right: 0;
  -webkit-transition: visibility 200ms linear;
  -moz-transition: visibility 200ms linear;
  transition: visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
  opacity: 100;
  visibility: visible;
}
.uabb-active-btn {
  background: #1e8cbe;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
  display: block !important;
  opacity: 1 !important;
}
.uabb-imgicon-wrap .uabb-icon {
  display: block;
}
.uabb-imgicon-wrap .uabb-icon i {
  float: none;
}
.uabb-imgicon-wrap .uabb-image {
  line-height: 0;
  position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
  text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
  text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
  text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
  display: inline-block;
  border-radius: 0;
  line-height: 0;
  position: relative;
  max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
  display: inline;
  height: auto !important;
  max-width: 100%;
  width: auto;
  border-radius: inherit;
  box-shadow: none;
  box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
  background: #fafafa;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button-wrap a:focus {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
}
.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button-wrap a:hover {
  text-decoration: none;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-full
  .uabb-creative-button {
  display: block;
  text-align: center;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-custom
  .uabb-creative-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
  text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
  text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
  text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
  font-size: 1.3em;
  height: auto;
  vertical-align: middle;
  width: auto;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-before {
  margin-right: 8px;
  margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text
  .uabb-creative-button
  i {
  margin: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button-has-icon
  .uabb-creative-button-text {
  vertical-align: middle;
}
.uabb-creative-button.uabb-creative-transparent-btn {
  background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
  width: 100%;
  height: 0;
  left: 0;
}
.uabb-transparent-fill-top-btn:after {
  top: 0;
}
.uabb-transparent-fill-bottom-btn:after {
  bottom: 0;
}
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
  width: 0;
  height: 100%;
  top: 0;
}
.uabb-transparent-fill-left-btn:after {
  left: 0;
}
.uabb-transparent-fill-right-btn:after {
  right: 0;
}
.uabb-transparent-fill-center-btn:after {
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
}
.uabb-transparent-fill-diagonal-btn {
  overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.uabb-transparent-fill-horizontal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.perspective {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button.uabb-creative-threed-btn {
  outline: 1px solid transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
  height: 40%;
  left: 0;
  top: -40%;
  width: 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
  width: 20%;
  height: 100%;
  left: -20%;
  top: 0;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
}
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
  width: 20%;
  height: 100%;
  left: 104%;
  top: 0;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateY(120deg);
  -moz-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  transform: rotateY(120deg);
}
.uabb-animate_top-btn:hover {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  -o-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}
.uabb-animate_bottom-btn:hover {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
  transform: rotateX(15deg);
}
.uabb-animate_left-btn:hover {
  -webkit-transform: rotateY(6deg);
  -moz-transform: rotateY(6deg);
  -ms-transform: rotateY(6deg);
  -o-transform: rotateY(6deg);
  transform: rotateY(6deg);
}
.uabb-animate_right-btn:hover {
  -webkit-transform: rotateY(-6deg);
  -moz-transform: rotateY(-6deg);
  -ms-transform: rotateY(-6deg);
  -o-transform: rotateY(-6deg);
  transform: rotateY(-6deg);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
  overflow: hidden;
  position: relative;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
  bottom: 0;
  height: 100%;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 100%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
  top: 0;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
  top: 0;
  left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
  top: 0;
  left: 100%;
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
  top: -100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
  top: 100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  transform: translateY(-400px);
}
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load {
  width: 100% !important;
  height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
  padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode {
  max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
  position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content
  .mejs-container:not(.mejs-audio)
  .mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-col-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
}
.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
}
.uabb-js-breakpoint {
  content: "default";
  display: none;
}
@media screen and (max-width: 992px) {
  .uabb-js-breakpoint {
    content: "992";
  }
}
@media screen and (max-width: 768px) {
  .uabb-js-breakpoint {
    content: "768";
  }
}
.njba-btn-main a.njba-btn {
  text-decoration: none;
  position: relative;
}
.njba-btn-main a:hover,
.njba-btn-main a:active,
.njba-btn-main a:focus {
  text-decoration: none;
}
.njba-btn-main a:active,
.njba-btn-main a:focus {
  outline: none;
}
.njba-btn-main a.njba-btn:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.njba-row-separator {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}
.njba-top-row-separator {
  top: -1px;
  bottom: auto;
}
.njba-bottom-row-separator {
  top: auto;
  bottom: -1px;
}
.njba-top-row-separator.njba-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: -1px;
  bottom: auto;
  width: 100%;
}
.njba-bottom-row-separator.njba-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: -1px;
  top: auto;
  width: 100%;
}
.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {
  bottom: 0;
}
.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {
  top: 0;
}
.njba-bottom-row-separator.njba-svg-triangle svg,
.njba-bottom-row-separator.njba-xlarge-triangle svg,
.njba-top-row-separator.njba-xlarge-triangle-left svg,
.njba-bottom-row-separator.njba-svg-circle svg,
.njba-bottom-row-separator.njba-xlarge-circle svg,
.njba-top-row-separator.njba-wave-separator svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-top-row-separator.njba-xlarge-triangle-right svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-bottom-row-separator.njba-xlarge-triangle-right svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-top-row-separator.njba-curve-up-separator svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-top-row-separator.njba-curve-down-separator svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-bottom-row-separator.njba-curve-down-separator svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-top-row-separator.njba-tilt-left-separator svg {
  -webkit-transform: scale(-1);
  -moz-transform: scale(-1);
  -ms-transform: scale(-1);
  -o-transform: scale(-1);
  transform: scale(-1);
}
.njba-top-row-separator.njba-tilt-right-separator svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-bottom-row-separator.njba-tilt-right-separator svg {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.njba-row-separator.njba-cloud-separator svg {
  left: -1px;
  width: 100%;
}
.njba-top-row-separator.njba-cloud-separator svg,
.njba-top-row-separator.njba-multi-triangle svg {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.njba-row-separator.njba-round-split {
  z-index: 1;
}
.njba-row-separator.njba-round-split:after,
.njba-row-separator.njba-round-split:before {
  left: 0;
  z-index: 10;
  width: 50%;
  background: inherit inherit/inherit inherit inherit inherit;
  content: "";
  position: absolute;
}
body {
  position: relative;
}

#responsive-menu-container {
  z-index: 9999999;
}

.fl-page {
  width: auto;
}

.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_body
  .ginput_container_checkbox
  .gfield_checkbox
  input[type="checkbox"]
  + label:before {
  border-radius: 0% !important;
}

.fl-content-full.container > .row > .fl-content {
  margin-top: 0;
}

.open_sidebar {
  overflow: hidden;
  margin-bottom: 20px;
}

.open_sidebar a {
  float: right;
}

.facet_filters .close_bar,
.open_sidebar,
.close_sidebar_button {
  display: none;
}

.tabaNewWidth .uabb-tabs-nav ul {
  max-width: 1212px;
}

.tabaNewWidth .uabb-tab-acc-content p {
  margin-top: -10px;
}

.tabaNewWidth .fl-callout-text-wrap .fl-callout-text p {
  /* line-height: 24px; */
}

.uabb-tabs-style-iconfall > nav li::before {
  margin-left: -30%;
  width: 60%;
}
.uabb-module-content .uabb-text-editor.uabb-tabs-desc .fl-callout-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 26px;
}

.gform_body .gfield a {
  color: #323232;
}
.gform_body .gfield a:hover {
  text-decoration: underline;
  color: #485481;
}

/* .uabb-creative-menu-horizontal > li > .uabb-has-submenu-container > a{
    font-size: 16px!important;
} */

.footer-address-text .store-container .address a p {
  font-size: 19px;
}

.rightNav {
  padding-right: 30px;
}

@media (max-width: 768px) {
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }

  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }

  .fl-col-group.fl-node-5dc59d507f33b.fl-col-group-equal-height.fl-col-group-align-center {
    display: flex !important;
  }
}

.fl-slide-text-center .fl-slide-photo-wrap img {
  max-height: none;
}

.fl-module-content-slider .bx-wrapper {
  margin: 0 auto 0;
}

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
  bottom: 30px;
}

.nav-phone {
  float: right;
  position: relative;
  order: 2;
  margin-left: 35px;
}

.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}

.home-tab .fl-tabs-labels {
  background-color: #384e77;
}

.fl-page-bar {
  height: 41px;
  background-color: #475481;
}

.fl-page-bar-text.fl-page-bar-text-1 a {
  height: 18px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.54px;
  line-height: 20px;
  text-align: center;
}

.fl-page-header {
  border: 1px solid #e7e3e3;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans Narrow";
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a,
.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a *,
.fl-page-nav-right .fl-page-nav-wrap a.fas,
.fl-page-nav-right .fl-page-nav-wrap a.fab {
  color: #000000;
}

.hardwood-flooring {
  height: 54px;
  width: 500px;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 55px;
  line-height: 32px;
  text-align: center;
}

.top-bar .fl-row-content-wrap {
  background: #e13a3e !important;
}

a.fl-button {
  border-radius: 3px;
  color: #fff;
  background: #e13a3e !important;
}

a.fl-button:hover {
  color: #000000;
  background: #fff !important;
}

.fullWidthTab .njba-tabs-panel-content {
  padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
  font-size: 18px;
  padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
  position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
  font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
  text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
  content: "";
  display: table;
  clear: both;
}

.fl-node-5cae1500d756e .gform_wrapper .gfield .ginput_container select {
  padding: 13.5px 0px !important;
}
header {
  position: relative;
  z-index: 9;
}

/* Form Error */

/* Form error */

.fl-page-content .gform_wrapper div.validation_error {
  margin-bottom: 0;
  border-bottom: 0;
  padding-top: 0;
  border-top: 0;
  display: none;
}

.fl-page-content .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
  margin-right: 16px !important;
}

.fl-page-content .gform_wrapper .field_description_below .gfield_description {
  padding-top: 2px;
}

.fl-page-content .gform_wrapper li.gfield.gfield_error,
.gform_wrapper
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 16px 0 0 0 !important;
}

.fl-page-content
  .gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  div.gfield_description {
  position: absolute;
  visibility: hidden;
}

.fl-page-content
  .gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  div.ginput_container,
.gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  label.gfield_label,
body .gform_wrapper .top_label div.ginput_container {
  margin-top: 5px !important;
}

.fl-page-content
  .gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  div.ginput_container,
.gform_wrapper
  li.gfield.gfield_error.gfield_contains_required
  label.gfield_label {
  margin-top: 0 !important;
}
.advSearch {
  height: 0;
  overflow: hidden;
}
.advSearch .fl-icon {
  position: absolute;
  right: 0;
  top: 25px;
}
.searchHeader {
  display: none;
  position: absolute;
  z-index: 111;
  right: 0;
  left: 0;
  background: #e13a3e;
  padding: 15px 20px;
}

/* Form error */
.fl-content-slider .fl-slide .fl-slide-foreground {
  margin: 70px auto 30px;
}

@media (min-width: 769px) {
  .hp-product-7 .text-content {
    padding: 100px 0 100px 200px !important;
  }

  .hp-product-7 .text-img {
    padding: 100px !important;
  }

  .hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .hp-product-7 .njba-tabs-labels {
    margin: 0 auto;
    width: auto;
  }

  /* .njba-tabs-panel-content { */
  /* border:0; */
  /* } */
  /* .njba-tabs-panel-content > p { */
  /* margin:0 0 0 10px; */
  /* } */

  .njba-tabs .njba-tab-label-inner,
  .njba-tabs .njba-tab-label-inner,
  .njba-tabs.njba-tabs-style-7
    .njba-tabs-nav5c7fe7c8b3651
    .njba-tabs-label
    .njba-tab-label-inner,
  .njba-tabs.njba-tabs-style-8
    .njba-tabs-nav5c7fe7c8b3651
    .njba-tabs-label
    .njba-tab-label-inner,
  .njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
  .njba-tabs .njba-tabs-panel-content,
  .njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
  .njba-tabs.njba-tabs-style-7
    .njba-tabs-nav5c5444b331d1f
    .njba-tabs-label
    .njba-tab-label-inner,
  .njba-tabs.njba-tabs-style-8
    .njba-tabs-nav5c5444b331d1f
    .njba-tabs-label
    .njba-tab-label-inner {
    border: none !important;
  }

  .njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
  }

  .njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4a4a4a;
  }

  .njba-logo-inner {
    background: none;
  }

  .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
  }

  .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
  }

  .njba-out-side {
    border: 0;
  }

  .banner_coupon_bar .fl-callout-title,
  .banner_coupon_bar .fl-callout-text-wrap {
    display: inline-block;
  }

  .banner_coupon_bar .fl-callout-text-wrap {
    float: right;
  }

  .zindex999 {
    z-index: 999;
    position: relative;
  }

  .tabReverceNew .uabb-tabs {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* Css Start From 17/04/2019 */
@media (max-width: 999px) {
  .fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
    width: 100%;
    display: block;
    padding: 0 45px;
  }

  .fl-page-nav-right
    .fl-page-header-row
    .fl-page-header-logo-col
    .fl-page-header-logo {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .njba-tabs-label {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .fl-page-header .fl-page-header-logo {
    padding-bottom: 0px !important;
    margin-right: 40px;
  }
}

@media (max-width: 1182px) {
  .fl-page-header .fl-page-nav .navbar-nav > li > a {
    padding: 10px;
  }
}
@media (max-width: 1110px) {
  .fl-page-header .fl-page-nav .navbar-nav > li > a {
    padding: 5px;
  }
}
@media (max-width: 1024px) {
  .fl-page-header .fl-page-nav .navbar-nav > li > a {
    padding: 5px;
    margin-left: -8px;
  }
}

@media (max-width: 768px) {
    .style-list .back-button {
        z-index: 2!important;
    }
    .searchHeader {
        display: none!important;
    }
  header .uabb-photo-content {
    position: static;
  }
  header .fl-module-uabb-advanced-menu {
    display: none;
  }
  .fl-node-5ccae053577c5 .fl-module-content {
    text-align: center;
  }
  button#responsive-menu-button {
    position: static;
    text-align: center;
  }
  header .uabb-photo-content {
    max-width: 260px;
    padding: 0;
    width: auto;
  }
  .mobileMenu {
    text-align: right;
  }
  .footer-address-text {
    text-align: center;
  }

  .advSearch .fl-icon {
    display: none;
  }
  .advSearch .fl-icon-text {
    padding: 12px;
  }

  .advSearch .fl-icon-text > p {
    margin: 0;
  }
  .advSearch {
    height: auto;
    overflow: hidden;
  }
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    .responsive-menu-item-link {
    padding: 0 15px;
  }
  .phone.retailer {
    display: inline-block;
  }
  .fl-content-slider .fl-slide .fl-slide-foreground {
    margin: 0;
  }
  .fl-content-slider .fl-slide .fl-slide-foreground .fl-slide-content:empty {
    display: none;
  }
}
.text-upprecase {
  text-transform: uppercase;
}
.top-bar .fl-icon-text span {
  display: inherit;
}
.store-opening-hrs-container .store-opening-hrs {
  list-style: none;
  padding: 0;
  margin: 0;
}
#responsive-menu-search-box{
    padding: 10px 20px!important;
}
#responsive-menu-search-box input{
    padding: 8px!important;
}
.fl-content-slider-navigation{
    z-index: 8!important;
}
.main-imgs {
    height: 100%!important;
}
.main-imgs img{
    height: 100%!important;
}
.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: middle!important;
    margin-top: 0px!important;
}
.gfield{
   padding-right: 15px!important; 
}
.gfield input[type=text]{
    width: 100%!important;
 }
 .ui-datepicker-title select{
     background-color: #000!important;
 }
 .gfield_time_hour i{
     margin-top: -4px!important;
 }

@media (max-width: 425px) {
    .gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
        vertical-align: top!important;
        margin-top: 4px!important;
    }
}

.gfield_time_ampm select{
    min-width: 60px!important;
}